# Build results
[Bb]in/
[Oo]bj/

# Solution files
*.sln

# VS Code
.vscode/

# Build outputs
*.exe
*.dll
*.pdb
*.o
*.asm

# Linker outputs
*.lib

# User-specific files
*.user

# NuGet packages
*.nupkg
packages/